# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\idea-folder-teszt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
